.message-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-container {
  padding: 1em;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  margin: 3em 0;
}

.user-infos {
  padding: 1em;
  background-color: rgb(208, 233, 255);
  border-radius: 5px;
  text-align: right;
}

button {
  padding: 1em;
  cursor: pointer;
}
