<div *ngIf="user; else notConnected">
  <p>Je suis connecté en tant que {{ user.username }} (id: {{ user.id }})</p>

  <ng-container *ngIf="messages$ | async as messages">
    <div *ngIf="messages.length; else noMessage">
      <app-message
        *ngFor="let message of messages"
        [message]="message"
        [username]="user.username"
      ></app-message>
    </div>
  </ng-container>

  <ng-template #noMessage>
    <p>Aucun message... si t'as pas d'amis, prends un Curly !</p>
  </ng-template>

  <button type="button" (click)="logout()">Déconnexion</button>
</div>

<ng-template #notConnected>
  <button type="button" (click)="login()">Se connecter</button>
</ng-template>
